

* {
  box-sizing: border-box;
   font-family: "Comic Sans MS", cursive, sans-serif; 
   background-color: grey;
}
h1 {
  margin: 25px 25% 30px 42%;

}
.main {
  border: 1px solid black;
  background-color:#DCDCDC;
  height: auto;
  padding: 10px;
  margin-right: 22.5px;
  margin-left: 22.5px;
  margin-bottom: 22.5px;
  font-family: Helvetica;
  color: black;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}
/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
  
  }

  .col-lg-4 {
    width: 33.33%;
  }
}
/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
   .col-md-6, .col-md-12 {
    float: left;
  
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media (max-width: 767px){
 .col-sm-12 {
    float: left;
 
  }
  .col-sm-12 {
    width: 100%;
  }
} 
#box1{
  float: right;
  position: relative;
  clear: left;
  left: 0px;
  background-color: #E9967A;
   border: 1px solid black;
   width:30%;
   padding: 5px;
   height: 20%;
   margin-right: 22.5px;
   margin-bottom: 20px;
   text-align: center;
}
#box2{
  float: right;
  background-color: #B22222;
   border: 1px solid black;
      width:30%;
   padding: 5px;
   height: 20%;
    margin-right: 22.5px;
    margin-bottom: 20px;
text-align: center;
color: white;
}
#box3{
  float: right;
  clear: left;
  background-color: #BDB76B;
   border: 1px solid black;
   width:30%;
   padding: 5px;
   height: 20%;
    margin-right: 22.5px;
    margin-bottom: 20px;
text-align: center;
 }
